/* COLORS */

/* WHITE: rgb(243, 243, 243); */


/* Global */
body {
  font-family: 'Abel', sans-serif;
  background-image: url('/public/images/BentoBGTransparent.png');
  background-size: 33%;
  background-color: rgb(108, 190, 139);
  background-repeat: repeat;
  height: 100vh;
}

.headerTitles {
  color: rgb(243, 243, 243);
  text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.5);
  background-color: rgba(123, 124, 182, 0.9);
  box-shadow: inset 0 8px 6px -6px rgb(0, 0, 0, 0.3), inset 0 -8px 6px -6px rgb(0, 0, 0, 0.5)
}

/* Default React */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Home */
.home1BG {
  background-image: url('/public/images/BG1.gif');
  background-size: cover;
  height: 94.5vh;
  z-index: -10;
}

.home2BG{
  background-color: rgb(140, 168, 194);
}

.textureBG {
  position: absolute;
  height: 100vh;
  width: 200vh;
  z-index: 5;
  opacity: 15%;
}

.orderNow {
  height: 100vh;
}

.bentoImg1 {
  height: 29vh;
  margin-left: 22vh;
  animation: bentoImgAnimate1 infinite 2s alternate-reverse;
}

.bentoImg2 {
  height: 32vh;
  animation: bentoImgAnimate2 infinite 2s alternate-reverse;
}

.orderButton {
  border-radius: 50px;
  background-color: rgb(233, 133, 84);
  border-color: rgb(185, 109, 71);
  text-shadow: 2px 2px 5px rgb(0, 0, 0, 0.5);
  color: rgb(243, 243, 243);
}

.homeHeader1 {
  text-shadow: rgb(0, 0, 0) 3px 0 20px;
  z-index: 20;
  }

.aboutDiv {
  height: 38vh;
}

.aboutImg {
  height: 30vh;
}

.aboutText {
  width: 70vh;
}

.aboutText h1 {
  margin-bottom: 2vh;
}

/* Nav Bar */
.navBar {
  font-size: 18px;
  padding: 1vh;
  width: 100vw;
  box-shadow: inset 0 8px 6px -6px rgb(0, 0, 0, 0.2), inset 0 -8px 6px -6px rgb(0, 0, 0, 0.2);
  background-color: rgb(255, 238, 214);
  border-bottom-width: 3px;
  border-color: rgb(235, 220, 198);
}

/* Menu */
#menuNav {
  position: sticky;
  top: 0;
  z-index: 10;
  border-top-width: 3px;
  box-shadow: inset 0 8px 6px -6px rgb(0, 0, 0, 0.2);
  background: rgb(255, 220, 169);
  border-color: rgb(255, 220, 169)
}

.menuItemAddDiv {
  background-color: rgba(107, 108, 159, 0.9);
}

.menuItemTitle {
  background-color: rgb(255, 238, 214);
}

.menuItemPrice {
  background: rgb(255, 220, 169);
}

#menuItemImg {
  height: 18vh;
  width: 26vh;
  object-fit: cover;
  z-index: -40;
}

#menuItemIcon {
  height: 3vh;
  width: 3vh;
}

#menuLastDiv {
  margin-bottom: 10vh;
}

#BentoBG {
  background-repeat: repeat-y;
  z-index: -40;
}

#Specials, #Kyaraben, #Drinks {
  scroll-margin-top: 2rem;
  filter: drop-shadow(0 0 2rem rgb(255, 196, 0, 0.15));
  color: rgb(243, 243, 243);
  text-shadow: rgb(0, 0, 0) 3px 0 5px;
  /* background-color: white; */
}

/* Food Detail */
#foodDetailDiv {
  height: 52.6vh;
  max-width: 130vh;
  margin-top: 12.6vh;
  margin-bottom: 12.6vh;
}

.foodDetailImg {
  max-width: 80vh;
  padding: 3vh;
  margin: 0
}

.foodDetailImg img {
  max-height: 50vh;
  max-width: 70vh;
  margin: 0;
  padding: 0;
}

.foodDetailText {
  padding-right: 3vh;
  padding-left: 3vh;
  width: 50vh;
}

.foodDetailText h1 {
  margin-bottom: 3vh;
}

.foodDetailText img {
  width: 5vh;
  padding-top: 2vh;
}

/* Sign In/Up */

#AuthDiv {
  height: 80vh;
}

/* Sign In Only */
.signInDiv {
  margin: 29vh;
  height: 30vh;
  width: 30vh;
  background-color: rgb(123, 124, 182);
  border-color: rgb(112, 113, 165);
  box-shadow:
    inset 0 8px 6px -6px rgb(0, 0, 0, 0.3),
    0 8px 6px -6px rgb(0, 0, 0, 0.6);
  border-width: 6px;
}

.signInDiv div h1 {
  text-shadow: 2px 2px 5px rgb(0, 0, 0, 0.5);
  color: rgb(243, 243, 243);
}

.signInDiv form div input {
  text-align: center;
}

.signUpDiv {
  margin: 21.55vh;
  height: 45vh;
  width: 30vh;
  background-color: rgb(123, 124, 182);
  border-color: rgb(112, 113, 165);
  box-shadow:
    inset 0 8px 6px -6px rgb(0, 0, 0, 0.3),
    0 8px 6px -6px rgb(0, 0, 0, 0.6);
  border-width: 6px;
  color: rgb(243, 243, 243);
  text-shadow: 2px 2px 5px rgb(0, 0, 0, 0.5);
}

.signUpDiv form div input {
  text-align: center;
}

/* Custom Bento */
.bentoBox1 {
  background-image: url('/public/images/empty-bento-box.png');
  background-size: 88vh 68vh;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vh;
  margin-left: 1vh;
  margin-right: 1vh;
}

.bentoBoxDiv {
  width: 149vh;
  height: 73.2vh;
  border-radius: 7vh;
  background-size: 100%;
  object-fit: fill;
  box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.3);
  filter: drop-shadow(0 0 1rem rgb(255, 174, 0, 0.1));
}

.ingredientLeftDiv {
  margin-left: 4vh;
  margin-right: 3vh;
  width: 41vh;
  height: 62vh;
}

.ingredientRightDiv {
  width: 38vh;
  height: 62vh;
}

.ingredient {
  max-width: 19vh;
  max-height: 17vh;
}

.ingredientMiddle {
  max-width: 19vh;
  max-height: 21vh;
}

.ingredientMiddle1 {
  transform: translateX(10vh);
}

.ingredientMiddle2 {
  transform: translateX(0vh);
}

.ingredientMiddle3 {
  transform: translateX(-10vh);
}

.ingredientCarb {
  width: 38vh;
  margin: 0;
}

.categoryNav {
  background: rgb(255, 239, 215);
  box-shadow:
    inset 0 8px 6px -6px rgb(0, 0, 0, 0.3),
    inset 0 -8px 6px -6px rgb(0, 0, 0, 0.3);
}

.ingredientsDiv {
  width: 60vh;
  border-radius: 7vh;
  background: rgb(255, 220, 169);
  padding: 0;
}

.ingredientsDiv h1 {
  padding: 2vh;
  border-top-right-radius: 7vh;
  border-top-left-radius: 7vh;
}

.leftTop {
  display: flex;
  align-items: center;
  height: 17vh;
  margin-bottom: 3.5vh;
}

.leftMiddle {
  display: flex;
  align-items: center;
  height: 20vh;
  margin-bottom: 4vh;
}

.leftBottom {
  display: flex;
  align-items: center;
  height: 17vh;
}

.ingredientSelector {
  width: 50vh;
  margin-top: 4vh;
}

table {
  border-collapse:separate; 
  border-spacing: 1vh;
  width: 70vh;
  margin: 0;
}

.footer {
  z-index: 50;
  box-shadow: inset 0 8px 6px -6px rgb(0, 0, 0, 0.6);
  background-color: rgb(123, 124, 182);
  border-color: rgb(112, 113, 165);
  border-top-width: 2px;
}

/* Animation ----------------------------------------------------------------------------------------*/

/* Home */
@keyframes bentoImgAnimate1 {
  from {
    transform: translateX(0vh) translateY(0vh);
  }
  to {
    transform: translateX(0vh) translateY(2vh)
  }
}

@keyframes bentoImgAnimate2 {
  from {
    transform: translateX(0vh) translateY(0vh);
  }
  to {
    transform: translateX(0vh) translateY(2vh)
  }
}