/* Global */

body {
  font-family: 'Abel', sans-serif;
  background-image: url('/public/images/BentoBGTransparent.png');
  background-size: 33%;
  background-color: rgb(254, 195, 139);
  background-repeat: repeat;
  height: 100vh;
}

/* Default React */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Home */
.home1BG {
  background-image: url('/public/images/BG1.gif');
  background-size: cover;
  height: 94.5vh;
  z-index: -10;
}

.homeHeader1 {
  text-shadow: rgb(0, 0, 0) 3px 0 20px;
  z-index: 20;
  }

/* Nav Bar */
.navBar {
  padding: 1vh
}

/* Menu */
#menuNav {
  /* height: 2rem; */
  position: sticky;
  top: 0;
  z-index: 10;
}

#menuItem {
  height: 18vh;
  width: 26vh;
  object-fit: cover;
  z-index: -40;
}

#menuItemIcon {
  height: 3vh;
  width: 3vh;
}

#menuLastDiv {
  margin-bottom: 10vh;
}

#BentoBG {
  background-repeat: repeat-y;
  z-index: -40;
}

#Specials, #Kyaraben, #Drink {
  scroll-margin-top: 2rem;
}

/* Food Detail */
#foodDetailDiv {
  height: auto;
  max-width: 130vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.foodDetailImg {
  max-width: 80vh;
  padding: 3vh;
  margin: 0
}

.foodDetailImg img {
  min-height: ;
  max-height: 50vh;
  max-width: 70vh;
  margin: 0;
  padding: 0;
}

.foodDetailText {
  padding-right: 3vh;
  padding-left: 3vh;
  width: 50vh;
}

.foodDetailText h1 {
  margin-bottom: 3vh;
}

.foodDetailText img {
  width: 5vh;
  padding-top: 2vh;
}

/* Sign In/Up */

#AuthDiv {
  height: 80vh;
}

/* Custom Bento */
.bentoBox1 {
  background-image: url('/public/images/empty-bento-box.png');
  background-size: 88vh 68vh;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vh;
  margin-left: 1vh;
  margin-right: 1vh;
}

.bentoBoxDiv {
  width: 150vh;
  height: 73vh;
  border-radius: 7vh;
}

.ingredientLeftDiv {
  margin-left: 4vh;
  margin-right: 3vh;
  width: 41vh;
  height: 62vh;
}

.ingredientRightDiv {
  width: 38vh;
  height: 62vh;
}

.ingredient {
  max-width: 19vh;
  max-height: 17vh;
}

.ingredientMiddle {
  max-width: 19vh;
  max-height: 21vh;
}

.ingredientCarb {
  width: 32vh;
  margin: 0;
}

.ingredientsDiv {
  width: 60vh;
  border-bottom-right-radius: 7vh;
  border-top-right-radius: 7vh;
}

.leftTop {
  display: flex;
  align-items: center;
  height: 17vh;
  margin-bottom: 3.5vh;
}

.leftMiddle {
  display: flex;
  align-items: center;
  height: 20vh;
  margin-bottom: 4vh;
}

.leftBottom {
  display: flex;
  align-items: center;
  height: 17vh;
}

.navBarIngredients {
  height: 5vh;
}

.ingredientTableHead {
  padding-bottom: 2vh;
}

